h1 {
  text-align: center;
  font-family: "Times New Roman", Georgia, serif;
}
p {
  text-align: center;
  font-family: "Times New Roman", Georgia, serif;
}
.parallax {
  background-image: url('https://willthewa.com/imagesFolder/background.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  text-align: center;
  color: white;
  font-family: "Times New Roman", Georgia, serif;
  font-size: 150%;
}
@media only screen and (max-width:749px) {
  .parallax {
    background-attachment: inherit;
  }
}
