body {
  margin-top: 0;
  margin: 0;
}
h1 {
  text-align: center;
  font-family: "Times New Roman", Georgia, serif;
}
h2 {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 40%;
  display: inline-block;
  color: white;
}
h3 {
  text-align: center;
  font-family: "Times New Roman", Georgia, serif;
  font-size: 270%;
  color: black;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
}
h4 {
  text-align: left;
  font-family: "Times New Roman", Georgia, serif;
  font-size: 120%;
  color: black;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: normal;
}
p {
  text-align: center;
  font-family: "Times New Roman", Georgia, serif;
}
.header {
  padding: 1px;
  padding-bottom: 2px;
  text-align: center;
  background: #baadeb;
  color: white;
  font-size: 45px;
  font-family: "Lato", sans-serif;
}
.parallax {
  background-image: url('https://willthewa.com/imagesFolder/background.jpg');
  min-height: 925px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  margin: 0;
  text-align: center;
  color: white;
  font-family: "Times New Roman", Georgia, serif;
  font-size: 175%;
}
@media only screen and (max-width:749px) {
  .parallax {
    background-attachment: inherit;
  }
}
.footer {
  text-align: center; 
  width: 100%;
  bottom: 0;
  left: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: #110E11;
  color: white;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}
ul {
  list-style-type: square;
  font-family: "Times New Roman", Georgia, serif;
  font-size: 120%;
  padding-left: 30px;
  color: black;
}
.cms-float-right {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 50px;
}
